body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: scroll;
}

.ball {
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, #aac8ff, #c4fcff, #f1fdff);
  border-radius: 100%;
  border: 1px solid #afcfd3;
  box-shadow: 0px 0px 200px 10px #05c5ff;
  cursor: pointer;
}

.human {
  width: 150px;
  margin-top: 50px;
}